<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>login</title>
</head>
<body>
    <form action="/login" method="post">
        <input name="name" id="name" type="text" />
        <button type="submit">login</button>
    </form>
</body>
</html>